section#main{
		padding-left: 10px;	
		padding-top: 0px;		
		padding-bottom: 0px;		
		padding-right: 10px;		
			
}

img.Swan{
	float: right;
	width: 300px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	}

section#sidebar{
		padding-top: 0px;
		padding-bottom: 10px;		
		padding-right: 10px;		
		padding-left: 10px;		
		font-size: 1em;
}


